.card {
    margin: 5% 2% 2%;
    padding: 5%;
    height: 20em;
}

.card-deck {
    margin: 7% 15% 15% 15%;
}

#laptop-list-dropdown {
    margin-bottom: 2em;
}

#get-loan-button, #pay-loan-button, #salary-buttons, #pay-now-content {
    align-content: center;
}

#pay-loan, #get-a-loan {
    width: 10em;
}

#laptop-price, #buy-now {
    margin: 1em
}